.card, .card-two {
    margin-top: 10px;
    margin-left:200px;
   float:left;
    width:400px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: OldLace;
    height: 720px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
button{
    color: white;
  background-color: green;
height: 30px;
}

